.centerText {
    text-align: center;
}

.titleText {

    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: grey;
}

.subTitleText {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: grey;
}

.labelTitle{

    text-align: left;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: darkgray;

}

input,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 10px;
  border: none;
  color: black;
  font-size: 22px;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question {
  font-size: 40px;
  font-weight: 300;
  border-radius: 2px;
  margin-left: 3rem;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}

textarea.question {
  font-size: 40px;
  font-weight: 300;
  border-radius: 2px;
  margin-left: 3rem;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin-left: 3rem;
  width: 20%;
  border-top: 1px solid #6393DB;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 40px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 40px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -140px;
  font-size: 22px;
  color:grey;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -140px;
  font-size: 22px;
  color: grey;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #DBAC4D;
  font-size: 36px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

/*-------- Buttons --------*/
input[type=submit] {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#6393DB;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;

    margin-top: 1em;
}

.backbutton {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:4px;
    border:none;
    background-color:#DB79B3;
    color:#fff;
    font-weight:600;
    border-radius:5px;

    margin-top: 1em;
}

.addbutton {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:8px;
    border:none;
    background-color:#60DB58;
    color:#fff;
    font-weight:600;
    border-radius:5px;

    margin-top: 1em;
}

.removebutton {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:8px;
  border:none;
  background-color: red;
  color:#fff;
  font-weight:600;
  border-radius:5px;

  margin-top: 1em;
}